/*
 Name: Yash Khanchandani
  Date: July 14, 2020
  Section: CSE 154 AC
  This is the creative.css page for my portfolio of web development work. It is used by my
  index.html file.
*/

body {
  min-height: 100vh;
}

h1 {
  font-size: 80px;
  color: #3a3a3a;
}

h1, form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: whitesmoke;
}

form button {
  color: whitesmoke;
  background: #4CAF50;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #4CAF50;
  padding: 15px;
  color: whitesmoke;
}

.check-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-list-list {
  min-width: 30%;
  list-style: none;
}

.box {
  margin: 0.5rem;
  background: whitesmoke;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.box li {
  flex: 1;
}

.deleteButt, .checkButt {
  background: #f44336;
  color: whitesmoke;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.checkButt {
  background: #008CBA;
}

.check-list-item {
  padding: 0rem 0.5rem;
}

.checkMark {
  text-decoration: line-through;
  opacity: 0.5;
}