/*
 Name: Yash Khanchandani
  Date: June 30, 2020
  Section: CSE 154 AC
  This is the styles.css page for my portfolio of web development work. It is used by all pages
  in my portfolio to give the site a consistent look and feel
*/

.container {
  margin: 0 auto;
}

header {
  background: #2e2e2e;
}

header:after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2e2e2e;
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

body {
  background-color: rgba(126, 159, 221, 0.938);
  font-family: "Helvetica", sans-serif;
  margin-top: 45px;
  margin-left: 0px;
}

.quotess {
  font-family: 'Ubuntu', sans-serif;
}

.des {
  font-family: 'Rubik', sans-serif;
}

p.des {
  font-size: 15px;
}

#bodybuilding, #idk, #gitgud {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#bodyresume {
  background-color: gainsboro;
}

#idk2 {
  width: 70%;
  height: 1150px;
}